#layoutDefault{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}
#layoutDefault #layoutDefault_content {
    min-width: 0;
    flex-grow: 1;
}
.page-header-dark {
    color: #fff;
    background-color: #1f2d41;
}
.page-header {
    position: relative;
    padding-top: 8rem;
    padding-bottom: 8rem;
}
.bg-gradient-primary-to-secondary {
    background-color: #f53b57;
    background-image: linear-gradient(135deg, #f53b57 0%, rgba(255, 121, 63, 0.8) 100%);
}
.navbar-marketing {
    transition: background-color 0.15s ease-in-out;
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
}
.bg-transparent {
    background-color: transparent !important;
}
.navbar-marketing .navbar-brand {
    font-size: 1.2rem;
    font-weight: bold;
}
.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.navbar-marketing .navbar-nav {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
}
.dropdown-toggle::after {
    display: none;
}
.dropdown .dropdown-toggle .dropdown-arrow {
    margin-left: auto;
    margin-right: 1rem;
    transition: transform 0.1s ease-in-out;
    font-size: 0.6rem;
}
.dropdown .dropdown-toggle .dropdown-arrow {
    margin-left: auto;
    margin-right: 1rem;
    -webkit-transition: -webkit-transform 0.1s ease-in-out;
    transition: -webkit-transform 0.1s ease-in-out;
    transition: transform 0.1s ease-in-out;
    transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
    font-size: 0.6rem;
}

svg:not(:root).svg-inline--fa {
    overflow: visible;
}
svg:not(:root).svg-inline--fa {
    overflow: visible;
}
.svg-inline--fa.fa-w-10 {
    width: 1;
}
.svg-inline--fa.fa-w-10 {
    width: .625em;
}
.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}
.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;
}
svg {
    overflow: hidden;
    vertical-align: middle;
}
svg {
    overflow: hidden;
    vertical-align: middle;
}
.navbar-marketing .btn {
    font-size: 0.7rem;
    padding: 0.75rem 2rem;
}
.text-uppercase-expanded, .navbar-marketing .btn, .navbar .dropdown-menu .dropdown-header, .btn-marketing {
    font-weight: 700;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}
.btn-teal {
    color: #fff;
    background-color: #00ba94;
    border-color: #00ba94;
}
.btn-teal:focus, .btn-teal.focus {
    color: #fff;
    background-color: #009476;
    border-color: #00876b;
    box-shadow: 0 0 0 0.2rem rgba(38, 196, 164, 0.5);
}
.btn-teal:hover {
    color: #fff;
    background-color: #009476;
    border-color: #00876b;
}
.lift-sm:hover {
    transform: translateY(-0.1666666667rem);
    box-shadow: 0 0.25rem 1rem 0 rgba(31, 45, 65, 0.25);
}
.lift:hover {
    transform: translateY(-0.3333333333rem);
    box-shadow: 0 0.5rem 2rem 0 rgba(31, 45, 65, 0.25);
}
.btn-teal:hover {
    color: #fff;
    background-color: #009476;
    border-color: #00876b;
}
.btn:hover {
    color: #687281;
    text-decoration: none;
}
.svg-border-rounded svg {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3rem;
    width: 100%;
}
.btn-marketing {
    font-size: 0.7rem;
    padding: 0.8rem 1.5rem;
}
a.text-light:hover, .page-header-dark a.btn-link:hover, a.text-light:focus, .page-header-dark a.btn-link:focus {
    color: #b7c9e4 !important;
}
.btn-link:hover {
    color: #d80b2a;
    text-decoration: underline;
}
.navbar-marketing.navbar-dark.navbar-scrolled {
    background-color: #1f2d41 !important;
}
.btn-teal:hover {
    color: #fff;
    background-color: #009476;
    border-color: #00876b;
}
.text-light, .page-header-dark .btn-link {
    color: #eff3f9 !important;
}
.lift-sm {
    box-shadow: 0 0.125rem 0.25rem 0 rgba(31, 45, 65, 0.2);
}
.text-uppercase-expanded, .navbar-marketing .btn, .navbar .dropdown-menu .dropdown-header, .btn-marketing {
    font-weight: 700;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}
.lift:hover {
    transform: translateY(-0.3333333333rem);
    box-shadow: 0 0.5rem 2rem 0 rgba(31, 45, 65, 0.25);
}
.lift-sm:hover {
    transform: translateY(-0.1666666667rem);
    box-shadow: 0 0.25rem 1rem 0 rgba(31, 45, 65, 0.25);
}
.bg-img-cover {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.img-fluid{
    transform: scale(1.3);
}
.overlay-primary:before {
    background-color: #f53b57 !important;
}
.overlay:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.5;
}
.overlay-70:before {
    opacity: 0.7;
}
.z-1 {
    z-index: 1 !important;
    position: relative !important;
}
.text-white {
    color: #fff !important;
}
.btn-white:not(:disabled):not(.disabled):active, .btn-white:not(:disabled):not(.disabled).active, .show > .btn-white.dropdown-toggle {
    color: #1f2d41;
    background-color: #e6e6e6;
    border-color: #dfdfdf;
}
.dropdown.show .dropdown-toggle .dropdown-arrow {
    transform: rotate(90deg);
}
.text-primary {
    color: #f53b57 !important;
}
a.text-primary:hover, a.text-primary:focus {
    color: #d80b2a !important;
}
.btn-white:not(:disabled):not(.disabled):active, .btn-white:not(:disabled):not(.disabled).active, .show > .btn-white.dropdown-toggle {
    color: #1f2d41;
    background-color: #e6e6e6;
    border-color: #dfdfdf;
}
.animated--fade-in-up {
    animation-name: fadeInUp;
    animation-duration: 200ms;
    animation-timing-function: margin cubic-bezier(0.18, 1.25, 0.4, 1), opacity cubic-bezier(0, 1, 0.4, 1);
}
.btn-white {
    color: #1f2d41;
    background-color: #fff;
    border-color: #fff;
}
a.text-primary:hover, a.text-primary:focus {
    color: #d80b2a !important;
}
.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #f53b57;
}
.dropdown-menu .dropdown-item {
    display: flex;
    align-items: center;
}

.icon-stack {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    height: 2rem;
    width: 2rem;
    font-size: 1rem;
    background-color: #eff3f9;
}
@-webkit-keyframes fadeInUp {
    0% {
      opacity: 0;
      margin-top: 0.75rem;
    }
    100% {
      opacity: 1;
      margin-top: 0;
    }
  }
  
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      margin-top: 0.75rem;
    }
    100% {
      opacity: 1;
      margin-top: 0;
    }
  }
@media (min-width: 992px){
    .navbar-marketing.fixed-top, .page-header.navbar-fixed .navbar-marketing.navbar {
        max-height: none;
        overflow-y: visible;
    }
    .navbar-marketing {
        padding-top: 0;
        padding-bottom: 0;
    }
    .navbar-marketing .navbar-nav {
        padding-top: 1.75rem;
        padding-bottom: 1.75rem;
    }
    .navbar-marketing .navbar-nav .nav-item {
        margin-right: 1rem;
    }
    .dropdown .dropdown-toggle .dropdown-arrow {
        margin-left: 0.4rem;
        margin-right: 0;
    }
    .dropdown-lg .dropdown-menu {
        min-width: 30rem;
        overflow: hidden;
    }
    .dropdown-xl .dropdown-menu {
        min-width: 45rem;
    }
    .dropdown-lg .dropdown-menu, .dropdown-xl .dropdown-menu {
        position: absolute;
        padding: 0;
        overflow: hidden;
    }
}
